/* style for body */

body {
 background-color: #6BFFB8;
}

/* style for label */

label {
 color: black;
 font-weight: bold;
 font-size: larger;
}

/* style for horizontal row */

hr {
 color: white;
}

/* style for jumbotron */

.jumbotron {
 background: #28965A;
 color: white;
 padding: 2%;
 margin-top: 3%;
 border-radius: 2%;
 -webkit-border-radius: 2%;
 -moz-border-radius: 2%;
 -ms-border-radius: 2%;
 -o-border-radius: 2%;
 opacity: 75%;
}

/* style for delete button */

.delete {
 background-color: black;
 color: white;
 border-radius: 10%;
 -webkit-border-radius: 10%;
 -moz-border-radius: 10%;
 -ms-border-radius: 10%;
 -o-border-radius: 10%;
}

/* style for isWatched button */

.isWatched {
 background-color: #7CFEF0;
 border-radius: 10%;
 -webkit-border-radius: 10%;
 -moz-border-radius: 10%;
 -ms-border-radius: 10%;
 -o-border-radius: 10%;
}

/* style for movie card division */

.movieCard {
 background-color: grey;
 color: white;
 margin-top: 1%;
 margin-left: 25%;
 margin-right: 25%;
 margin-bottom: 1%;
 padding: 1%;
 border: solid white 0.5px;
}